%table
  %tr
    %th
      Player
    - 9.times.each do |frame|
      %th{:colspan => 2}= "Frame #{frame + 1}"
    %th{:colspan => 3}
      Frome 10
  - @match.games.each do |game|
    %tr
      %td{:rowspan => 2}= game.player
      - 21.times.each do |roll|
        %td= game.display_roll(roll + 1)
    %tr
      - 10.times.each do |frame|
        %td{:colspan => 2}= game.display_frame(frame + 1)
